<div class="container">

  <!-- <div class="row">
    <div class="col-xs-6 col-xs-offset-3"> -->
      <div id="title">
        <h1>Stupid Coaching</h1>
        <label for="your-question">Ask your coach anhything:</label>
      </div>
 <!--    </div>
  </div> -->

  <!-- <div class="row"> -->
<!--     <div class="col-xs-6 col-xs-offset-3"> -->
      <form class="form-inline" action="/answer" class="form-inline" method ="get">
        <div class="form-group">
          <input type="text" name="question" class="form-control" placeholder="Your question">
          <input type="submit" value="Ask!" class="btn btn-primary">
        </div>
      </form>
<!--     </div>
  </div>
 -->
</div>




